.app-dashboard {
  display: grid;
  grid-template-columns: 15vw auto;
  height: 100%;
  overflow-x: hidden;

  @media (max-width: 1000px) {
    grid-template-columns: 100vw;
  }
}

.app-flex {
  display: flex;
}

#app {
  height: 100%;
}