html {
  background-color: $base;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  color: $white;
  font-family: $header-font;
}

h2 {
  color: $white;
  font-family: $body-font;
}


p {
  color: $white;
  font-family: $body-font;
}

a {
  color: $white;
  font-family: $header-font;
}