html {
  background-color: $black;
}

h1 {
  color: $white;
  font-family: $header-font;
}

h2 {
  color: $white;
  font-family: $body-font;
}


p {
  color: $white;
  font-family: $body-font;
}

a {
  color: $white;
  font-family: $header-font;
}