.header {
  background-color: $highlight;
  margin: 0%;
}

.logo__container {
  display: flex;
  height: 4rem;
  margin: 0% 6%;
  align-items: center;
}

.header__logo {
  color: $white;
  font-size: 2rem;
  font-family: $header-font;
}