.home-dashboard {
  @include dashboard-container;
  display: grid;
  grid-template-columns: 70% 30%;
}

.home-dashboard__grid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  justify-content: start;
}