.home-dashboard {
  @include dashboard-container;
}

.home-dashboard__flex {

}

.home-dashboard__grid {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 2%;
  justify-content: start;
  margin-top: 3%;
}