// header cell
.rt-th {
  background-color: $base;
}

.rt-td {
  align-self: center;
}

.rt-tr {
  color: white;
  font-family: $header-font;
}

.table--header {
  font-family: $header-font;
  font-weight: 700;
}

.table--cell {
  margin: 13% 0%;
  padding: 0%;
  text-align: center;
}

.-even {
  background-color: $light-1;
}

.-highlight {
  background-color: $light-2;
}

.cell--name {
  text-align: left;
  color: $highlight;
  text-decoration: none;
  font-family: $body-font;
  font-weight: 400;
  font-size: 1rem;

  &:hover {
    color: lighten($color: $highlight, $amount: 10);
  }
}

.ReactTable {
  border-style: none;
  box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
}