// header cell
.rt-th {
  background-color: $base;
}

.rt-td {
  align-self: center;
}

.rt-tr {
  color: white;
  font-family: $header-font;
}

.ReactTable .rt-tbody {
  height: 73vh;
  overflow-x: hidden;
  overflow-y: scroll;
  @media (max-width: 1050px) {
    height: 80vh;
  }
}

.-sort-asc {
  box-shadow: inset 0 3px 0 0 $highlight !important;
}

.-sort-desc {
   box-shadow: inset 0 -3px 0 0 $highlight !important;
}

.table--header {
  font-family: $header-font;
  font-weight: 700;
}

.table--cell {
  margin: 13% 0%;
  padding: 0%;
  text-align: center;
}

.-even {
  background-color: $light-1;
}

.-highlight {
  background-color: $light-2;
}

.rt-thead {
  padding-right: 15px;
}

.cell--name {
  text-align: left;
  color: $highlight;
  text-decoration: none;
  font-family: $body-font;
  font-weight: 400;
  font-size: 1rem;

  &:hover {
    color: lighten($color: $highlight, $amount: 10);
  }
}

.ReactTable {
  @include drop-shadow;
  border-style: none;
}

@media(min-width: 1051px) {
  .rt-tbody::-webkit-scrollbar {
    width: 1em;
  }
  
  .rt-tbody::-webkit-scrollbar-thumb {
    background-color: $light-2;
    outline: 1px solid slategrey;
  }
}
