.navbar {
  background-color: $off-black;
  display: flex;
  a { 
    text-decoration: none;
    color: $white;
  }
}

.navbutton {
  padding: 1%;
}

.is-active {
  background-color: $purple;
  font-weight: 700;
}