.navbar__top {
  align-items: flex-start;
  background-color: $light-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3vw;
  margin: 0;
  padding: 1rem 0;
  width: 100%;

  @media (max-width: $mobile) {
    align-items: center;
    background-color: $highlight;
    text-align: center;
    height: 7.5vh;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0;
    padding: 0 0;
    width: 100%;
  }
}

.navbar__top__mobile-logo {
  display: none;
  text-decoration: none;
  @media (max-width: $mobile) {
    display: block;
    font-family: $logo-font !important;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }
}

.navbar__top__mobile-nav-button {
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  margin-left: 3vw;
  color: $white;
  display: none;
  @media (max-width: $mobile) {
    display: flex;
    justify-self: flex-start;
  }
}

.navbar__top-season-dropdown {
  font-family: $body-font;
  margin-left: 70vw;
  width: 12vw;

  @media (max-width: $mobile) {
    display: none;
  }

  .Dropdown-arrow {
    @media (max-width: $mobile) {
      top: 45%;
    }
  }

  .Dropdown-control {
    background-color: $light-3;
    border: none;
    color: white;
    width: 100%;
    @media (max-width: $mobile) {
      padding: 2vh 10px;
    }
  }

  .Dropdown-group {
    outline: 0;
  }

  .Dropdown-menu {
    background-color: $base;
    border: none;
  }

  .Dropdown-title {
    color: white !important;
    @media (max-width: $mobile) {
      padding: 2vh 10px !important;
    }
  }

  .Dropdown-option {
    color: white;
    opacity: 0.8;
    @media (max-width: $mobile) {
      padding: 2vh 10px !important;
    }
  }

  .Dropdown-option:hover {
    background-color: $light-4;
    color: white;
    opacity: 1;
  }

  .is-selected {
    background-color: $light-3;
    opacity: 1;
    color: white !important;
  }
}

.navbar__top-season-dropdown--mobile {
  align-self: center;
  display: block !important;
  margin: 2vh 0 0 0;
  width: 80%;
}