.navbar {
  background-color: $off-black;
}

.navbar-button__container {
  padding: 0% 6%;
  display: flex;
  a { 
    text-decoration: none;
    color: $white;
  }
}

.navbutton {
  padding: .5%;
}

.is-active {
  background-color: $highlight;
  font-weight: 700;
}