.player-profile {
  @include dashboard-container;
  h1 {
      text-align: center;
      font-size: 1.35vw;
      margin: 0 0 1.5vh 0;
      @media (max-width: $tablet) {
        font-size: 3vh;
    }
  } 
}

.player-profile__match-history-title {
  padding: 5% 0% 2% 0%;
}

.player-profile__not-enough-data {
  text-align: center;
  padding-top: 15%;
  opacity: 0.5;
  font-size: 1vw;
}

.player-profile__role-team {
  align-items: center;
  display: flex;
  flex-direction: row;
  @media (max-width: $tablet) {
    text-align: center;
  }
}

// Container for team banner
.team-banner {
  background-color: white;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }
}

.team-banner__content {
  background-color: rgba($base, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

// Player's profile picture
.team-banner__profile-picture {
  align-self: center;
  justify-self: start;
  height: 80%;
  top: 0;
  margin-left: 2%;
  width: auto;
  border-radius: 50%;

  @media (max-width: $tablet) {
    align-self: center;
    justify-self: center;
    margin-top: 2.5%;
    height: 65%;
    width: auto;
  }
}

.team-banner__team-icon {
  background-repeat: no-repeat;
  background-position: center 60%;
  background-size: auto;
  height: 35px;
  width: 40px;
  display: block;
  @media (max-width: $tablet) {
    display: none;
  }
}

.team-banner__team-logo {
  position: absolute;
  top: 0;
  align-self: center;
  padding-left: 55%;
  margin-top: -1%;
  z-index: -1;
}


// Player's information in banner (display name, real name, position, etc.)
.team-banner__player-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 0% 0% 2%;
  width: 30%;
  h1 {
    font-size: 4vw;
    margin: 0;
  }

  h2 {
    font-size: 1rem;
    margin: 0% 0% 0% 2%;
    opacity: 0.5;
  }

  a {
    margin: 0;
    text-decoration: none;
  }

  @media (max-width: $tablet) {
    margin: 0;
    align-items: center;
    align-self: center;
    h1 {
      font-size: 8vw;
    }

    a {
      margin: 0 0 0 2%;
    }
  }
}

.player-match-history {
  background-color: $light-1;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
  @media (max-width: $tablet) {
    grid-template-columns: 100%;
    margin-bottom: 2vh;
  }
}

.player-match-history--week-1 {
  margin-bottom: 6vh;
  @media (max-width: $tablet) {
    margin-bottom: 9vh;
  }
}

.player-match-history__champion-img {
  height: 3vw;
  width: auto;
  padding-right: 5%;
  @media (max-width: $tablet) {
    height: 7vh;
    padding: 1vh 0;
  }
}

.player-match-history__column-1 {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  @media (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
  }
}

.player-match-history__date-time-container {
  text-align: center;
  padding-right: 3.5%;
}

.player-match-history__column-2 {
  background-color: $base;
  border-radius: 5px;  
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  @media (max-width: $tablet) {
    margin-top: 2vh;
    grid-template-columns: 1fr;
    padding: 5%;
  }
}

.player-match-history__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5% 0%;
  p {
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    font-size: .7vw;
    font-family: $body-font;
    @media (max-width: $tablet) {
      margin: .5vh 0;
      font-size: 2vh;
    }
  }
  
}

.player-match-history__kda {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  font-family: $mono-font;
  margin-left: 25%;

  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 1.5vw;

  p {
    margin: 0;
  }

  @media (max-width: $tablet) {
    margin: 0;
    justify-content: center;
    font-size: 3vh;
  }
}

.player-match-history__column-3 {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
  @media (max-width: $tablet) {
    align-items: center;
    padding: 1vh 0;
  }
}

.player-match-history__result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 35%;
  height: 65%;
  margin: 0;
  border-radius: 5px;
  @media (max-width: $tablet) {
    height: 10vw;
    width: 40vw;    
  }
}

.player-match-history__result {
  color: white;
  font-size: 1vw;
  font-family: $header-font;
  font-weight: 700;
  margin: 0;
  @media (max-width: $tablet) {
    font-size: 3vh; 
  }
}

.player-match-history__result--victory {
  background-color: $positive;
}

.player-match-history__result--loss {
  background-color: $negative;
}

.player-match-history__date {
  font-size: 2vh;
  font-weight: 700;
  margin: 0;
  @media (max-width: $tablet) {
    font-size: 3vh;
    padding-top: 1vh;
  }
}

.player-match-history__time {
  font-size: 1.3vh;
  margin: 0;
  opacity: 0.5;
  @media (max-width: $tablet) {
    font-size: 2.1vh;
  }
}

.player-match-history__week {
  opacity: 0.5;
  margin: 0;
}

.player-match-history__opponent {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.25vw;
  font-weight: 700;
  font-family: $logo-font;
  padding-left: 1%;
  margin: 0;
  @media (max-width: $tablet) {
    font-size: 2.5vh;
  }
  
}

.match-history__team-icon {
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: auto;
  height: 35px;
  width: 40px;
  display: block;
  margin-left: .1vw;
}

.player-match-history__kills {
  color: $positive !important;
  margin-left: 1vw;
  padding-right: 1vw;
}

.player-match-history__deaths {
  color: $negative !important;
  padding-left: 1vw;
  padding-right: 1vw;
}

.player-match-history__assists {
  color: $neutral !important;
  padding-left: 1vw;
  margin-right: 1vw;
}

.player-profile__match-history-title {
  padding: 6vh 0% 1.5vh 0%;
  font-size: 1.5vw !important;
  @media (max-width: $tablet) {
    font-size: 3vh !important;
  }  
}
