.player-profile__area-chart {
  font-family: $body-font;
  font-size: 0.8rem;
}

.player-profile__tooltip {
  background-color: $light-1;
}

.winrate-pie-chart__label {
  fill: white !important;
  font-family: $body-font;
  font-weight: 700;
  font-size: 2vw;
}