// Container for team banner
.team-banner {
  background-image: url('/img/cloud9.jpg');
  width: 100%;
  height: 15rem;
}


.team-banner__content {
  background-color: rgba($base, 0.7);
  display: grid;
  grid-template-columns: 25% 35% 20%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media (max-width: 1050px) {
    grid-template-columns: 50% 50%;
  }
}

.team-banner:after {
  opacity: 0.5;
}

// Player's profile picture
.team-banner__profile-picture {
  justify-self: end;
  height: 100%;
  top: 0;
  width: auto;

  @media (max-width: 1050px) {
    align-self: center;
    justify-self: center;
    height: auto;
    width: 80%;
  }
}


// Player's information in banner (display name, real name, position, etc.)
.team-banner__player-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 0% 0% 5%;
  h1 {
    font-size: 4vw;
    margin: 0%;
  }

  h2 {
    font-size: 1rem;
    margin: 0% 0% 0% 2%;
    opacity: 0.5;
  }

  p {
    margin: 8% 0% 0% 2%;
  }

  a {
    margin: 8% 0% 0% 2%;
    text-decoration: none;
  }

  @media (max-width: 1050px) {
    margin: 0;
    h1 {
      font-size: 8vw;
    }

    a {
      margin: 5% 0 0 2%;
    }
  }
}
