// Container
.player-dashboard {
  @include dashboard-container;
  h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 1vh 0;
  }
}

.player-dashboard__match-history-title {
  padding: 5% 0% 2% 0%;
}
