.player-dashboard__player-stats {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 2%;
  margin-top: 5%;

  @media (max-width: 1050px) {
    grid-template-columns: 100%;
  }
};  

.player-stats__charts {
  display: grid;
  grid-template-columns: 1% 49% 1% 49%;
  grid-template-rows: repeat(3, 33.33%);
  height: 100%;

  @media (max-width: 1050px) {
    grid-template-columns: 100%; 
    grid-template-rows: repeat(6, 35vh);
  }
}



