.player-profile__area-chart {
  font-family: $body-font;
  font-size: 0.8rem;
}

.champions-played-chart__tooltip {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: $light-1;
  padding: 5%;
  width: 10vh;
  font-size: 0.8rem;
  p {
    margin: 0;
  }
  @media (max-width: $tablet) {
    width: 11vh;
  }
}

.champions-played-chart__icon {
  display: block;
  width: 30%;
  height: 30%;
  padding-right: 5%;
}

.player-profile__tooltip {
  background-color: $light-1;
  padding: 5%;
  width: 10vh;
  p {
    margin: 0;
  }
  @media (max-width: $tablet) {
    width: 9vh;
  }
}

.player-profile__tooltip-title {
  font-weight: 700;
}

.pie-chart-yaxis__label {
  fill: white;
  font-family: $body-font;
}

.recharts-area-area {
  fill-opacity: 1;
}

.winrate-pie-chart__label {
  fill: white !important;
  font-family: $body-font;
  font-weight: 700;
  font-size: 2vw;
  @media (max-width: $tablet) {
    font-size: 5vh;
  }
}