// Topboard
.players-dashboard__top-board {
  // @include drop-shadow;
  
  background-color: $light-1;
  display: flex;
  flex-direction: column; 
  line-height: .2rem;
  margin-bottom: 3%;
  padding: 15% 5%;
}

// Title of board (Wins, kills, etc.)
.top-board__stat-title {
  display: flex;
  color: $highlight;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;

  a {
    color: $highlight;
    font-family: $body-font;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
  }

  a:hover {
    color: lighten($color: $highlight, $amount: 10);
  }
}

// Top right arrow icon
.top-board__more-icon {
  font-size: 1rem !important;
}

// Row entry
.top-board__entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% 0%;
}

// Info on left-hand side (Number, entry, team sfx)
.top-board__entry-info {
  display: flex;
  width: 80%;
}

// Entries name
.top-board__entry-name {
  align-self: center;
  font-family: $body-font;
  font-size: 1.2rem;
  margin-left: 4%;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: lighten($color: $highlight, $amount: 10);
  }
}

// Shorthand teamname
.top-board__team-sfx {
  font-size: 1rem;
  margin-left: 5%;
  opacity: 0.5;
}

// The stat for the number one player
.top-board__stat-1 {
  align-self: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
}

.top-board__rank {
  color: $light-4;
}



