.player-profile__stat-sheet {
  @include drop-shadow;

  display: flex;
  flex-direction: column;
  h1 {
    margin-left: 2%;
  }
}

.stat-sheet__header {
  align-items: center;
  background-color: $base;
  display: grid;
  font-weight: 700;
  grid-template-columns: 40% 30% 30%;
  padding: 0% 2%;
  p {
    margin: 4% 0%;
  }

}

.stat-sheet__entry {
  background-color: $base;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  padding: 1% 2%;
  font-weight: 700;
  font-size: 1rem;

  p {
    margin: 4% 0%;
  }

  a {
    align-self: center;
    color: $highlight;
    text-decoration: none;
    font-family: $body-font;
    font-weight: 400;
    font-size: 1rem;
  }

  a:hover {
    color: lighten($color: $highlight, $amount: 10);
  }
}

.stat-sheet__entry--alt {
  background-color: $light-1;
}

.placement-positive {
  color: $positive;
}

.placement-negative {
  color: $negative;
}

.placement-outof {
  color: $white;
  font-size: .8rem;
  opacity: 0.5;
}