// Container
.player-profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1% 9%;
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}

// Container for team banner
.team-banner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 15rem;
  overflow: hidden;  
}

// Player's team background
.team-bg {
  height: auto;
  opacity: 0.5;
  width: 120%;
}

// Player's profile picture
.profile-picture {
  height: 15rem;
  margin: 17% 0% 0% 9%;
  width: auto;
}

// Player's information in banner (display name, real name, position, etc.)
.player-info-banner {
  margin: 0% 0% 0% 5%;
  h1 {
    font-size: 4rem;
    margin: 0%;
  }

  h2 {
    font-size: 1rem;
    margin: 0% 0% 0% 2%;
    opacity: 0.5;
  }

  p {
    margin: 8% 0% 0% 2%;
  }
}

// Prevent team-bg overflow
.no-overflow {
  position: relative;
}

// Allow profile picture to overflow
.overflow {
  display: flex;
  align-items: center;
  height: 15rem;
  position: absolute;
}