.side-navbar {
  background-color: $light-1;
}

.side-navbar__logo {
  background-color: $highlight;
  height: 3rem;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  h1 {
    margin: 0;
  }
}

.navbar-button__container {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  a { 
    text-decoration: none;
    color: $light-4;
  }
}

.navbutton {
  padding: 8%;
}

.is-active {
  background-color: $light-3;
  color: $white !important;
}
