.side-navbar {
  background-color: $light-1;
  width: 15rem;
}

.side-navbar__logo {
  background-color: $highlight;
  height: 3rem;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 15rem;

  h1 {
    font-family: $logo-font !important;
    font-weight: 700;
    margin: 0;
  }
}

.navbar-button__container {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  a { 
    font-family: $logo-font !important;
    text-decoration: none;
    color: $light-4;
  }
}

.navbutton {
  display: grid;
  padding: 8% 8%;
  grid-template-columns: 15% 85%;
  justify-items: center;
  font-size: .9rem;
  p {
    font-family: $logo-font;
    font-weight: 700;
    margin: 0 0 0 20%;
    color: $light-4;
    justify-self: start;
  }
  
}

.is-active {
  background-color: $light-3;
  color: $white !important;
  p {
    color: $white !important;
  }
}
