.statsheet {
  display: flex;
  flex-direction: column;
  h1 {
    margin-left: 2%;
  }
}

.statsheet-header {
  display: grid;
  font-weight: 700;
  grid-template-columns: 40% 30% 30%;
  padding: 0% 2%;
  p {
    margin: 4% 0%;
  }
}

.player-statsheet-header {
  display: grid;
  font-weight: 700;
  grid-template-columns: 40% 30% 30%;
  padding: 0% 2%;
  p {
    margin: 4% 0%;
  }
}

.statsheet-entry {
  background-color: $black;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  padding: 0% 2%;
  font-weight: 700;
  font-size: 1rem;

  p {
    margin: 4% 0%;
  }

  a {
      align-self: center;
      color: $highlight;
      text-decoration: none;
      font-family: $body-font;
      font-weight: 400;
      font-size: 1rem;
  }

  a:hover {
    color: lighten($color: $highlight, $amount: 10);
  }
}

.player-statsheet-entry {
  background-color: $black;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  padding: 0% 2%;
  font-weight: 700;
  font-size: 1rem;

  p {
    margin: 4% 0%;
  }

  a {
      align-self: center;
      color: $highlight;
      text-decoration: none;
      font-family: $body-font;
      font-weight: 400;
      font-size: 1rem;
  }

  a:hover {
    color: lighten($color: $highlight, $amount: 10);
  }
}

.statsheet-entry-alt {
background-color: $off-black;
}

.placement-outof {
font-size: .8rem;
opacity: 0.5;
}