.team-profile__roster {
  background-color: $light-1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vw;
  margin: 0 2% 0 2%;

  @media (max-width: $tablet) {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vh 25vh 25vh;
  }
}

.team-profile__roster-header {
  font-size: 1.5vw !important;
  margin-top: 4% !important;
  @media (max-width: $tablet) {
    font-size: 3vh !important;
  }
}

.team-profile__roster-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 20%;

  h1 {
    margin: 5% 0 0 0;
  }
  p {
    margin: 0;
  }

  @media (max-width: $tablet) {
    height: 100%;
    width: 100%;
  }
}

.team-profile__roster-picture {
  align-self: center;
  justify-self: start;
  height: 80%;
  top: 0;
  margin-left: 2%;
  width: auto;
  border-radius: 50%;

  @media (max-width: $tablet) {
    align-self: center;
    justify-self: center;
    margin-top: 2.5%;
    height: 65%;
    width: auto;
  }
}

.team-profile__player-name {
  align-self: center;
  font-family: $body-font;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 2%;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: lighten($color: $highlight, $amount: 10);
  }
}