.topboard {
  display: flex;
  flex-direction: column; 
  line-height: 0;
  margin-bottom: 4%;

  a {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5%;
    text-decoration: none;
  }

  a:hover {
    color: lighten($color: $purple, $amount: 10);
  }
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-info {
  display: flex;
}

.player-name {
  margin-left: 2%;
  font-weight: 700;
}

.stat-title {
  display: flex;
  color: $purple;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0%;
  a {
    color: $purple;
  }
}

.stat-1 {
  align-self: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0%;
}

.team-name {
  align-self: center;
  font-size: 1rem;
  font-family: $lato;
  margin-left: 5%;
  opacity: 0.5;
}

hr {
  border-width: 0;
  background-color: $off-white; 
  height: 1px;
  margin-bottom: 3%;
  width: 100%;
}