// Topboard
.topboard {
  display: flex;
  flex-direction: column; 
  line-height: .2rem;
  margin-bottom: 4%;
}

// Title of board (Wins, kills, etc.)
.stat-title {
  display: flex;
  color: $purple;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0%;

  a {
    color: $purple;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  }

  a:hover {
    color: lighten($color: $purple, $amount: 10);
  }
}

// Spacer line
hr {
  border-width: 0;
  background-color: $white; 
  height: 1px;
  margin-bottom: 3%;
  margin-top: 5%;
  width: 100%;
}

// Row entry
.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Info on left-hand side (Number, entry, team sfx)
.entry-info {
  display: flex;
}

// Entries name
.entry-name {
  align-self: center;
  font-family: $body-font;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 2%;
  text-decoration: none;

  &:hover {
    color: lighten($color: $purple, $amount: 10);
  }
}

// Shorthand teamname
.team-sfx {
  font-size: 1rem;
  margin-left: 5%;
  opacity: 0.5;
}

// The stat for the number one player
.stat-1 {
  align-self: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0%;
}